.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.add-img {
    width: 500px;
    margin-top: 3rem;
    align-self: center;
    justify-self: center;
}

.hero-img {
    width: 500px;
}

@media screen and (max-width:768px) {
    .hero-img {
        width: 300px;
    }
    .add-img {
        margin-top: 2rem;
        width: 300px;
    }
}