body {
    background-color: #F8F9FB !important;
    max-height: 100vh;
}

.body {
    /* max-height: 100;
    overflow-y: hidden; */
}

.forms {
    width: 100%;
    height: 100vh;
}

.navbar {
    padding: 1rem 5rem;
    background-color: #fff !important;
    color: #30398C !important;
    overflow-x: hidden;
}

.select2 {
    padding: 0;
}

.signOut {
    background-color: #30398C;
    color: white !important;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px;
}

.signOut:hover {
    background-color: #fff;
    color: #30398C !important;
    border: 2px solid #30398C;
}

#signout {
    display: none;
    background-color: #30398C;
    color: #F8F9FB !important;
}

#signout:hover {
    background-color: #fff;
    color: #30398C !important;
    border: 2px solid #30398C;
}

@media screen and (max-width:768px) {
    body {
        max-height: 100%;
        overflow-y: scroll;
    }
    .body {
        max-height: auto;
        overflow-y: scroll;
    }
    .navbar {
        padding: 1rem 2rem;
    }
    .signOut {
        max-width: 130px;
        margin: 0 !important;
        background-color: transparent;
        color: black !important;
    }
    .signOut:hover {
        background-color: #fff;
        color: #30398C !important;
        border: none;
    }
    .image {
        display: none;
    }
}

.image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.add-achievement {
    background-color: transparent;
    color: green;
    border: none;
}

.add-achievement:hover {
    text-decoration: underline;
    color: green;
}

.buttonBlue {
    background-color: #30398C !important;
}