#continue-button {
    display: none;
}

#display_image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

#display_signin_info {
    display: none;
}

#option-button {
    width: 100%;
    height: 20px;
    border-bottom: 1px solid gray;
    text-align: center
}

.option-text {
    font-size: 14px;
    background-color: white;
    padding: 0 10px;
    font-style: italic;
}

p {
    display: flex;
    flex-direction: row;
    color: gray;
}

p:before,
p:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}

p:before {
    margin-right: 10px
}

p:after {
    margin-left: 10px
}