<form class=" feedForm row needs-validation" novalidate id="feedForm" action="/addAchievement_again" method="post">
    <h4 class="text-left">Enter the following details</h4>
     <div class="col-12 mt-3">
        <label for="year" class="form-label">Enter The Year of Study </label>
        <select name="year" class="form-select" required>
            <option value="">--Please choose an option--</option>
            <option value="1">Year 1</option>
            <option value="2">Year 2</option>
            <option value="3">Year 3</option>
            <option value="4">Year 4</option>
        </select>
       <div class="invalid-feedback">
         Year Cannot be Empty
       </div>
     </div>
 
     <div class="col-12 mt-3">
        <label for="nameOfEvent" class="form-label">Enter The Event Name </label>
        <select name="nameOfEvent" class="form-select" required >
              <option value="">--Please choose an option--</option>
               <option   value="Quiz Competition">Quiz Competition</option>
               <option   value="Coding Competition/Hackathons">Coding Competition/Hackathons</option>
               <option value="IEEE Event"  >IEEE Event</option>
               <option  value="Any Techincal Events">Any Techincal Events</option>
               <option   value="HackerRank Challenges/Competition">HackerRank Challenges/ Competetion</option>
               <option   value="Paper or Publications">Paper or Publications</option>
               <option  value="Other">Other</option>
        </select>
       <div class="invalid-feedback">
         Event Name Cannot be Empty
       </div>
     </div>


      <div class="col-12 mt-3">
        <label for="detailsOfEvent" class="form-label">Enter Details/Location of event</label>
        <textarea class="form-control" id="detailsOfEvent" name="detailsOfEvent" placeholder="Enter Details of Event" required></textarea>
     
        <div class="invalid-feedback">
            Add the location or any othe details
          </div>
      </div>

      <div class="col-12 mt-3">  
        <label for="level" class="form-label">Enter the level </label>
        <select name="level" class="form-select" required>
            <option value="">--Please choose an option--</option>
            <option value="college" >College</option>
            <option value="district" >District</option>
            <option value="state" >State</option>
            <option value="national" >National</option>
            <option value="international" >InterNational</option>
        </select>

        <div class="invalid-feedback">
          Level Cannot be empty
        </div>
      </div>

      <div class="col-12 mt-3">
        <label  class="form-label" name="award"> Any Awards ?</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="award" id="yes" value="yes">
          <label class="form-check-label" for="yes">
            Yes
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="award" id="no" value="no" checked>
          <label class="form-check-label" for="no">
           No
          </label>
        </div>
      </div>
     
     <div class="col-12">
       <button class="submitBtn btn  mt-5" type="submit" value="Submit">Submit</button>
     </div>
   </form>