<!DOCTYPE html>
<html>
<head>
    <title>
        Student Achievements
    </title>
    <meta name="google-signin-client_id" content="272476288648-gbr69du8vvu6pi71lh1vf0prndc2jcje.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>
    
    <form id="feedForm" action="/feed2" method="post">
      <label htmlFor="year">Enter USN </label>
      <select name="year">
          <option value="1">Year 1</option>
          <option value="2">Year 2</option>
          <option value="3">Year 3</option>
          <option value="4">Year 4</option>
      </select>

      <label htmlFor="nameOfEvent">Enter The Event Name </label>
      <select name="nameOfEvent">
        <option   value="Quiz Competition">Quiz Competition</option>
        <option   value="Coding Competition/Hackathons">Coding Competition/Hackathons</option>
        <option value="IEEE Event"  >IEEE Event</option>
        <option  value="Any Techincal Events">Any Techincal Events</option>
        <option   value="HackerRank Challenges/ Competetion">HackerRank Challenges/ Competetion</option>
        <option   value="Paper or Publications">Paper or Publications</option>
        <option  value="Other">Other</option>
      </select>

      <label htmlFor="detailsOfEvent">Enter Details/Location of event </label>
      <textarea row="3" col="30" type="text" name="detailsOfEvent" id="detailsOfEvent" class="input-text"> </textarea>


      <label htmlFor="level">Enter the level </label>
      <select name="level">
               <option value="college" >College</option>
                <option value="district" >District</option>
                <option value="state" >State</option>
                <option value="national" >National</option>
                <option value="international" >InterNational</option>
      </select>
 
      <input type="checkbox" id="award" name="award" value="Yes">
      <label for="award"> Yes</label><br>
      <input type="submit" value="submit">
    </form>
</body>
</html>