<!DOCTYPE html>
<html>
<head>
    <title>
        Student Achievements
    </title>
    <meta name="google-signin-client_id" content="272476288648-gbr69du8vvu6pi71lh1vf0prndc2jcje.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>
    
    <form id="usnForm" action="/feed" method="post">
      <label htmlFor="usn">Enter USN </label>
      <input type="text" name="usn" id="usn" class="input-text"/>

      <label htmlFor="phone_no">Enter The Phone Number </label>
      <input type="text" name="phone_no" id="phone_no" class="input-text"/>

      <input type="submit" value="submit">
    </form>
</body>
</html>