<form class="row usnForm needs-validation" novalidate id="usnForm"  action="/addAchievement" method="post">
   <h4 class="text-left">Enter the following details</h4>

    <div class="col-12 mt-3">
      <label for="usn" class="form-label">USN</label>
      <input type="text" class="form-control" id="usn" name="usn" placeholder="Enter your USN" required>
      <div class="invalid-feedback">
        USN cannot be empty
      </div>
    </div>

    <div class="col-12 mt-3">
      <label for="phone_no" class="form-label">Phone Number</label>
      <input type="text" class="form-control" id="phone_no" placeholder="Enter your phone Number" required>
      <div class="invalid-feedback">
        Enter a valid Phone Number
      </div>
    </div>

    <input type="hidden" name="name" id="name" class="input-text"/>
    <input type="hidden" name="email" id="email" class="input-text"/>
    <input type="hidden" name="image" id="image" class="input-text"/>

    <div class="col-12">
      <button class=" submitBtn btn  mt-5" type="submit" value="Submit" >Submit</button>
    </div>
  </form>