<form class=" feedForm row needs-validation" novalidate id="feedForm" action="/updating_achievement" method="post" enctype="multipart/form-data">
    <% if(is_achievement_updated==true) { %>
        <div class="alert alert-success" style="max-width: 100%;">
            <strong>Congratulations!</strong> Achievement Added Successfully
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
                window.setTimeout(function() {
                    $(".alert").alert('close');
                }, 5000);
            });
        </script>

        <% }else if(is_achievement_updated==false) { %>
            <div class="alert alert-danger" role="alert">
                <strong>Oops!</strong> Failed to Add Achievement. Try Again
            </div>
            <% } %>
                <input type="hidden" name="userData" id="userData" value="<%=JSON.stringify(userData)%>" />
                <h4 class="text-left">Enter the following details</h4>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6 mt-3">
                            <label for="year" class="form-label">Select The Year of Achievement</label>
                            <select name="year" class="form-select" required>
                                        <option value="">--Select the Year of Achievement--</option>
                                        <% for(var i=1; i <=userData.presentYear; ++i) { %>
                                            <option value="<%=i%>">
                                            <%=i%>
                                            </option>
                                            <% }%>
                                        </select>
                            <div class="invalid-feedback">
                                Year Cannot be Empty
                            </div>
                        </div>
                        <div class="col-12 col-lg-6  mt-3">
                            <label for="nameOfEvent" class="form-label">Select The Event Type</label>
                            <select name="nameOfEvent" class="form-select" required id="nameOfEvent">
                                        <option value="">--Select The Event Type--</option>
                                        <option value="Quiz Competition">Quiz Competition</option>
                                        <option value="Coding Competition/Hackathons">Coding Competition/Hackathons</option>
                                        <option value="IEEE Event">IEEE Event</option>
                                        <option value="Any Technical Events">Any Technical Events</option>
                                        <option value="PhaseShift">Phaseshift</option>
                                        <option value="HackerRank Challenges/Competition">HackerRank Challenges/ Competition</option>
                                        <option value="Paper or Publications">Paper or Publications</option>
                                        <option value="Other">Other</option>
                                </select>
                            <div class="invalid-feedback">
                                Event Name Cannot be Empty
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 mt-3">
                            <label for="detailsOfEvent" class="form-label">Enter the Name, details/location of the Event</label>
                            <textarea class="form-control" id="detailsOfEvent" name="detailsOfEvent" placeholder="Enter the Name, details/location of the Event" required></textarea>

                            <div class="invalid-feedback">
                                Add the Name, location or any other details
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-12 mt-3">
                            <label for="level" class="form-label">Select the level of the Event</label>
                            <select name="level" class="form-select" required>
                                        <option value="">--Select the level of the Event--</option>
                                        <option value="college">College</option>
                                        <option value="district">District</option>
                                        <option value="state">State</option>
                                        <option value="national">National</option>
                                        <option value="international">International</option>
                                </select>

                            <div class="invalid-feedback">
                                Level Cannot be empty
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <label class="form-label" name="award">Did you win any award in this event?</label>
                        <div class="col-12 mt-1 d-flex d-row">

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="award" id="yes" value="yes">
                                <label class="form-check-label" for="yes">Yes</label>
                            </div>
                            <div class="form-check ml-2">
                                <input class="form-check-input" type="radio" name="award" id="no" value="no" checked>
                                <label class="form-check-label" for="no">No</label>
                            </div>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-between">
                        <div class="col-12 col-sm-3 mt-1 mt-md-3">
                            <label for="certificate">Add Certificate : *optional pdf < 5 MB*</label>
                            <input type="file" id="certificate" name="certificate" accept="application/pdf"><br><br>
                        </div>
                        <div class="col-12 col-sm-3">
                            <button id="submitbutton" class="submitBtn btn btn-contained mt-2 mt-md-5 btn-block has-spinner" style="float: right;background-color: #30398C; color: white;" type="submit " value="Submit "><span class="spinner"><img src="/img/ss.svg" width="30" height="30" style="margin-left: -1rem;"></span>Submit</button>
                        </div>
                    </div>
                </div>
</form>

<script src="js/disable_submit_button.js"></script>